:root {
  --box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  --main-font: "Oxanium", sans-serif;
  --paragraph-font: "Roboto Condensed", sans-serif;
  --link-font: "Oxanium", cursive;
  --first-color: #e7eaf6;
  --second-color: #a2a8d3;
  --third-color: #113f67;
}

a:hover {
  color: #e7eaf6;
}

body {
  max-width: 100%;
  background-color: #113f67;
  color: #e7eaf6;
}

footer {
  text-align: center;
  font-size: 18px;
  font-family: var(--paragraph-font);
}

h1 {
  font-size: 85px;
}

h1,
h2,
h3 {
  font-family: var(--main-font);
}

h2 {
  font-size: 42px;
  color: #a2a8d3;
}

iframe {
  border-radius: 4px;
  display: block;
  justify-content: center;
  padding: 40px;
  box-shadow: 0px 0px 20px 1px #e7eaf6 inset, var(--box-shadow);
}

p {
  font-family: var(--paragraph-font);
  font-size: 25px;
}

.contact-section {
  max-width: 95%;
  border-radius: 4px;
  margin: 0 auto;
  backdrop-filter: blur(10px);
  background-color: #e7eaf6;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  box-shadow: 0px 0px 20px 1px #a2a8d3 inset, var(--box-shadow);
}
.content-container {
  max-width: 90%;
  margin: 0 auto;
}

.footer-links {
  text-decoration: none;
  color: #a2a8d3;
}

.hero {
  padding: 120px 50px;
  text-align: center;
}

.icon {
  display: block;
  margin: 0 auto;
  filter: invert(80%) sepia(3%) saturate(3425%) hue-rotate(197deg)
    brightness(85%) contrast(93%);
}

.image-container {
  display: flex;
  justify-content: center;
}

.images {
  border-radius: 4px;
  max-height: 400px;
  backdrop-filter: blur(10px);
  background-color: #e7eaf6;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  box-shadow: 0px 0px 20px 1px #a2a8d3 inset, var(--box-shadow);
}

.main-links {
  text-decoration: none;
  font-family: "Oxanium", cursive;
  font-weight: bolder;
  color: #a2a8d3;
  border: 1px solid #a2a8d3;
  border-radius: 4px;
  padding: 15px;
  transition: all 100ms ease-in-out;
}

.navbar {
  font-family: "Oxanium", cursive;
  background: #113f67;
}

.open-primary {
  color: #a2a8d3;
  border: 1px solid #a2a8d3;
}

.projects-page .main-links,
.contact-page .main-links {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 576px) {
  h1,
  h2 {
    text-align: center;
  }
  h1 {
    font-size: 40px;
  }
  h2,
  h3 {
    font-size: 27px;
  }
  p {
    font-size: 20px;
  }
  .section,
  .section {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .name {
    display: none;
  }
}

@media (max-width: 1360px) {
  .hero-image {
    display: none;
  }

  h3,
  p,
  h2,
  h1 {
    text-align: center;
  }
  .main-links {
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .hero {
    padding: 90px 40px;
  }
}
