:root {
    --primary-color:rgba(240,222,235) ;
    --secondary-color:rgba(249,228,235,0.3);
    --tertiary-color:rgba(240,222,235, 0.7);
    --box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    --main-font:'Josefin Slab', serif;
    --paragraph-font:'Handlee', cursive;
    --button-font:'Codystar', cursive;
}

a:hover {
 color: white;
}

body {
    max-width:100%;
}

.tertiary-color-section {
  background-color:var(--tertiary-color); 
}

.hero-image{
    float:left;
    max-width:295px;
    position:relative;
    left:50px;
    bottom:55px;
}

.hero{
    padding:120px 150px 120px 50px;
    text-align: right;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
}

h1 {  
    font-size:85px;
}

h1,h2,h3 {
   font-family: var(--main-font); 
}


h2 {
    font-size:42px;    
}


iframe {
    border-radius:4px;
    display:block;
    justify-content: center;
    border:20px solid white;
    margin: 0 20px;
}

.image-container {
    display:flex;
    justify-content:center;
}

.images {
    border-radius:4px;
    max-height:400px; 
    backdrop-filter: blur(10px);
    background-color:white;
    background:linear-gradient(to right bottom, rgba(255,255,255, 0.4), rgba(255,255,255, 0.1));
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border:20px solid white ;
}

.main-links {
    text-decoration:none;
    font-family: var(--button-font);
    font-weight:bolder;
    color:slategray;
    border: 1px solid slategray;
    border-radius:4px;
    padding:15px; 
    transition:all 100ms ease-in-out;
}

p {
    font-family: var(--paragraph-font);
    font-size:25px; 
}

@media(max-width:576px) {
    h1,h2 {
        text-align:center;
    }
    h1 {
        font-size:40px;
    }
    h2,h3 {
        font-size:27px;
    }
    p {
        font-size:20px;
    }
   .tertiary-color-section, .secondary-color-section {
       margin-top:20px;
       margin-bottom:20px;
   }
   .name {
       display:none;
   }
   
    
}

@media(max-width:1360px) {
    .hero-image {
        display:none;
    }
    
    h3,p, h2, h1{
        text-align:center;
    }
    .main-links {
        font-size:20px;
        display:flex;
        justify-content:center;
        margin:10px 45px;
    }
    
    .hero {
        padding:90px 40px;
    }

}


.open-primary {
    color:slategray;
    border:1px solid slategray;  
}


.content-container {
  max-width:90%;
  border-radius:4px;
  box-shadow:var(--box-shadow);
  margin:0 auto;
}


.secondary-color-section{ 
    background-color:var(--secondary-color);
}

.contact-section {
    border-radius:4px;
    max-height:500px; 
    backdrop-filter: blur(10px);
    background-color:white;
    background:linear-gradient(to right bottom, rgba(255,255,255, 0.4), rgba(255,255,255, 0.1));
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.projects-page .main-links, .contact-page .main-links {
   display:block;
   margin:0 auto;
   text-align:center;
}

.nav-link {
    font-family:var(--button-font);
}
.navbar{
   box-shadow: var(--box-shadow);
}
.icon {
    display:block;
    margin:0 auto;
}