:root {
    --primary-color:rgba(240,222,235) ;
    --secondary-color:rgba(249,228,235,0.3);
    --box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

a:hover {
 color: white;
}

.app-images {
    border-radius:4px;
    max-height:450px; 
    backdrop-filter: blur(10px);
    background-color:white;
    background:linear-gradient(to right bottom, rgba(255,255,255, 0.4), rgba(255,255,255, 0.1));
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

body {
    max-width:100%;
}

.bullet-journal {
  background-color:var(--primary-color); 
}


.computer {
    float:left;
    max-width:295px;
    margin-bottom:50px;
    position:relative;
    left:50px;
    bottom:20px;
}

.hero{
    padding:120px 150px 120px 50px;
    text-align: right;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
}

h1,h2,h3 {
   font-family: 'Josefin Slab', serif; 
}
h1 {  
    font-size:96px;
}

h2 {
    font-size:42px;
    
}

.main-links {
    text-decoration:none;
    font-family: 'Codystar', cursive;
    font-weight:bolder;
    color:white;
    border: 1px solid white;
    border-radius:4px;
    margin:5px;
    padding:10px; 
}

p {
    font-family: 'Handlee', cursive;
    font-size:25px; 
}

@media(max-width:576px) {
  h1,h2 {
        text-align:center;
    }
    h1 {
        font-size:42px;
    }
    h2,h3 {
        font-size:24px;
    }
    p {
        font-size:19px;
    }
}

@media(max-width:992px) {
    .computer {
        display:none;
    }

    .container-fluid {
        padding:100px 20px;
    }
   
    h3,p, h2, h1{
        text-align:center;
    }
     .main-links {
        font-size:18px;
        display:flex;
        justify-content:center;
        margin:10px 45px;
    }
    .open {
        margin:20px;
    }
    }

.open-weather, .open-dictionary {
    color:var(--primary-color);
    border:1px solid var(--primary-color);  
}

.open-weather:hover, .open-dictionary:hover {
    color:var(--primary-color);
}




.projects {
  max-width:90%;
  border-radius:4px;
  box-shadow:var(--box-shadow);
}


.weather, .future { 
    background-color:var(--secondary-color) ;
}


