a:hover {
 color: white;
}

:root {
    --primary-color:rgba(240,222,235) ;
    --secondary-color:rgba(249,228,235);
    --tertiary-color:rgba(201,195,197);
    --box-shadow: 0px opx 50px 30px rgba(201,195,197);
}

body {
    max-width:100%;
}

.computer {
    float:left;
    max-width:295px;
    margin-bottom:50px;
    position:relative;
    left:50px;
    bottom:20px;
}

.container-fluid{
    padding:100px 150px 100px 50px;
    text-align: right;
    background-color: var(--primary-color);
}

h1 {
    font-family: 'Josefin Slab', serif;
    font-size:96px;
}

h2 {
    font-family: 'Josefin Slab', serif;
    font-size:42px;
    
}


.main-links {
    text-decoration:none;
    font-family: 'Codystar', cursive;
    font-weight:bold;
    color:white;
    border: 1px solid white;
    border-radius:4px;
    margin:5px;
    padding:10px; 
}


@media(max-width:576px) {
  h1,h2 {
        text-align:center;
    }
    h1 {
        font-size:42px;
    }
    h2 {
        font-size:24px;
    }
   .main-links {
        font-size:17px;
        display:flex;
        justify-content:center;
        margin:10px 45px;
    }

}

@media(max-width:992px) {
    .computer {
        display:none;
    }

    .container-fluid {
        padding:100px 20px;
    }
}


